openapi: 3.0.3
info:
  title: Smartcar Vehicles Charging Navigation API
  description: The Smartcar Vehicles API provides a standardized REST interface for accessing connected vehicle data and sending commands to vehicles across multiple OEMs through a single integration. Retrieve signals such as battery level, odometer, location, fuel, engine oil life, and lock status, or issue commands like lock/unlock doors, start/stop charging, set charge limits, and set navigation destinations. Authentication uses OAuth 2.0 with user-granted permissions per vehicle.
  version: 2.0.0
  termsOfService: https://smartcar.com/terms/
  contact:
    name: Smartcar Support
    url: https://smartcar.com/docs/
    email: support@smartcar.com
  license:
    name: Smartcar API License
    url: https://smartcar.com/terms/
servers:
- url: https://vehicle.api.smartcar.com/v2.0
  description: Smartcar Vehicle API v2.0
- url: https://management.api.smartcar.com/v3
  description: Smartcar Management API v3
security:
- BearerAuth: []
tags:
- name: Navigation
  description: Vehicle navigation and destination setting
paths:
  /vehicles/{id}/commands/set-destination:
    post:
      operationId: setDestination
      summary: Set Navigation Destination
      description: Sets a navigation destination for the vehicle. Requires the control_navigation permission.
      tags:
      - Navigation
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - latitude
              - longitude
              properties:
                latitude:
                  type: number
                  description: Destination latitude
                longitude:
                  type: number
                  description: Destination longitude
                address:
                  type: string
                  description: Optional human-readable destination address
      responses:
        '200':
          description: Command result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResult'
components:
  schemas:
    CommandResult:
      type: object
      properties:
        status:
          type: string
          enum:
          - success
          - error
          - pending
        message:
          type: string
          description: Human-readable result message
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token obtained via Authorization Code or Client Credentials flow
